body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  /* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  /* height: 100%; */
  height: 580px;
  /* width: 1000px; */
}
